<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>851796236020-0gqdijlqfu51g2kd775ouhqtdqnf3cid.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.851796236020-0gqdijlqfu51g2kd775ouhqtdqnf3cid</string>
	<key>API_KEY</key>
	<string>AIzaSyDqk8Kh0UF3sFJ24XrZE6chXlH-AtHy02A</string>
	<key>GCM_SENDER_ID</key>
	<string>851796236020</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.elitgon.espidy</string>
	<key>PROJECT_ID</key>
	<string>espidy-99ea4</string>
	<key>STORAGE_BUCKET</key>
	<string>espidy-99ea4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:851796236020:ios:b589e1489b31920d</string>
	<key>DATABASE_URL</key>
	<string>https://espidy-99ea4.firebaseio.com</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
</dict>
</plist>
